.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #e78311;
    color: black;
  }
  
  .topnav a.active {
    background-color: #ff9d33;
    color: rgb(230, 219, 219);
  }
  .log{
    margin-left: 800px;
  }