<div class="topnav">
  <a class="btn" routerLink="/retail" >View Products</a>
  <a class="btn" routerLink="/about" >About-Us</a>
  <a class="btn" routerLink="/feedback">Feedback</a>
  <a class="btn" routerLink="/wishlist" >Wishlist</a>
  
</div>

<link rel="payment-success">
<div class="payment-success">
    <h1>Payment Successful!</h1>
    <p>Thank you for your payment. Your transaction has been completed successfully.</p>
    <div class="success-icon">
      <img src="assets/my-melody.gif" alt="Success" />
    </div>
    <button class="btn" (click)="navigateToHome()" >Go to Home</button>
  </div>
  