<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="index.component.css">
</head>
<div class="topnav">
  <a  routerLink="/retail" >View Products</a>
  <a  routerLink="/about" >About-Us</a>
  <a  routerLink="/feedback">Feedback</a>
  <a  routerLink="/wishlist" >Wishlist</a>
  <a  class="activ" routerLink="#index">Login</a>
</div>
<body>

  <div class="login-container">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text" id="username" name="username" [(ngModel)]="username" required #usernameInput="ngModel" />
        <div *ngIf="usernameInput.invalid && usernameInput.touched" class="error">
          Username is required.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password" [(ngModel)]="password" required minlength="6" #passwordInput="ngModel" />
        <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error">
          Password must be at least 6 characters long.
        </div>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
      <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</body>
</html>
