

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Management System</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Store Management System</h1>
        </div>
        <div class="cards">
            <div class="card">
                <h2>Products</h2>
                <p>Manage your products</p>
                <button class="btn" (click)="navigateToProduct()" >View Products</button>
            </div>
            <div class="card">
                <h2>About Us</h2>
                <p>About Our Website</p>
                <button class="btn" (click)="navigateToAbout()" >About-Us</button>
            </div>
            <div class="card">
                <h2>Customers Feed back</h2>
                <p>Manage your Customers Feedback</p>
                <button class="btn" (click)="navigateToFeedback()">Feedback</button>
                
            </div>
            <div class="card">
                <h2>Reports</h2>
                <p>View reports</p>
                <button>View Reports</button>
            </div>
            <div class="card">
                <h2>Products</h2>
                <p>Manage your products</p>
                <button>View Products</button>
            </div>
            <div class="card">
                <h2>Products</h2>
                <p>Manage your products</p>
                <button>View Products</button>
            </div>
        </div>
    </div>

</body>
</html>


