<div class="topnav">
    <a  (click)="navigateToProduct()" >View Products</a>
    <a  (click)="navigateToAbout()" >About-Us</a>
    <a  (click)="navigateToFeedback()">Feedback</a>
    <a  (click)="navigateToWish()">Wishlist</a>
    <a class="log"  routerLink="/index">Login</a>
</div>
<div class="col">
<div class="card">
    <div><img src="/assets/pic.jpg" alt="Avatar" style="width:100%">
    <h3>Kitchen Appliances</h3>
    </div>
</div>
<div class="card">
    <div class="img2"><img src="/assets/pic1.jpg" alt="Avatar" style="width:100%"></div>
</div>
</div>
    
 

